In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv('cleaned_data.csv')

In [25]:
df.head()

,index,movie,year,timeMin,imdb,metascore,votes,grossMillions,genre,description,director,actors,movie_id,soup
0,0,dark,2017,60,8.8,unknown,215184,unknown,Crime Drama Mystery,a family saga with a supernatural twist set in...,unknown,Louis Hofmann Karoline Eichhorn Lisa Vicari Ma...,0,a family saga with a supernatural twist set in...
1,1,the sinner,2017,45,8.0,unknown,77161,unknown,Crime Drama Mystery,anthology series that examines how and why ord...,unknown,Bill Pullman Dohn Norwood Adam LeFevre Jessica...,1,anthology series that examines how and why ord...
2,2,game of thrones,2011,57,9.3,unknown,1688494,unknown,Action Adventure Drama,nine noble families fight for control over the...,unknown,Emilia Clarke Peter Dinklage Kit Harington Len...,2,nine noble families fight for control over the...
3,3,yellowstone,2018,60,8.4,unknown,17372,unknown,Drama Western,a ranching family in montana faces off against...,unknown,Kevin Costner Luke Grimes Kelly Reilly Wes Ben...,3,a ranching family in montana faces off against...
4,4,knives out,2019,130,7.9,82.0,341615,165.36,Comedy Crime Drama,a detective investigates the death of a patria...,Rian Johnson,Daniel Craig Chris Evans Ana de Armas Jamie Le...,4,a detective investigates the death of a patria...

In [4]:
df['movie'] = df['movie'].apply(lambda x: x.replace(':', '').replace('.', '').replace('-', '').replace('/', '').replace(',', '').lower().strip())

df['actors'] = df['actors'].astype(str)

df['description'] = df['description'].apply(lambda x: x.lower().strip())
df['description'] = df['description'].apply(lambda x: x.replace(',', '').replace('.', '').replace(':', '').replace('-', ''))


df['actors'] = df['actors'].apply(lambda x: x.replace(',', '').replace('.', '').strip())

df['genre'] = df['genre'].apply(lambda x: x.strip())

In [24]:
df['soup'] = df['description'] + df['genre'] + df['actors']
df['soup'] = df['soup'].apply(lambda x: ''.join(x))

In [26]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(df['soup'])

In [27]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [29]:
data = df.reset_index()
titles = data['movie']
indices = pd.Series(data.index, index=data['movie'])

In [60]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:25]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices[1:11]]

In [62]:
get_recommendations('avatar')

470               clash of the titans
1079          the fate of the furious
2756               battle los angeles
2729              wrath of the titans
1436          star trek into darkness
256           guardians of the galaxy
6815       agents of shield slingshot
9531        mune guardian of the moon
2877                       the losers
399     guardians of the galaxy vol 2
Name: movie, dtype: object

In [ ]:
wrath of the titans
clash of the titans
the league of extraordinary gentlemen
crouching tiger hidden dragon
the fate of the furious
suicide squad
hellboy ii the golden army
call of duty black ops ii
lara croft tomb raider the cradle of life
guardians of the galaxy